@import "../../main.scss";

.tasks{
    
    .tabs{
        border-radius: 12px;
   
        .nav-tabs{
            border-bottom: none !important;
            :first-child{
                border-radius: 0 7px 7px 0;
            }
            :last-child{
                border-radius:7px 0 0 7px ;
            }
           
           
            .nav-item{
                background-color: $white-color !important;
                border: 1px solid #C5CCDA !important;
               
                a{
                    color: $dark-blue !important;
                    font-size: 14px;
                    line-height: 29.7px;
                    border-radius: 0 !important;
               
                    // .active{
                    //     background-color: transparent !important;
                    //     color: transparent !important;
                    //     border: none !important;
                    //     outline: none;
                    // }
                    
                   
                }
                .active-tab{
                    background-color: $light-blue !important;
                    color: $white-color !important;
                    border: none !important;
                    outline: none !important;
                }
                
               
            }
        } 
        }
       
}