<!-- <p>comite-data works!</p> -->
<section class="comite-data pe-5 pt-5">
      <div class="container-fluid">
          <div class="row">
              <!-- تفاصيل اللجنة -->
              <div class="col-md-4 col-sm">
                  <div class="details  shadow ">
                      <div class="title p-2 pe-3 d-flex align-items-center justify-content-between">
                          <div class="">
                               <img src="./assets/bell-2.svg" alt="">
                              <span>تفاصيل اللجنة</span>
                          </div>
                          <img src="./assets/edit.svg" alt="">
                         
                      </div>
                     
                      <div class="item-1">
                          <span>رقم الاقرار</span>
                          <h5>123456789</h5>
                      </div>
                      <div class="item-2">
                          <span>حالة اللجنة</span>
                          <div class="icons">
                              
                                  <img src="./assets/edit.svg" class="rounded-1">
                             
                              <span class="text-success rounded-2 fw-bold">لجنة نشطه</span>
                          </div>
                      </div>
                      <div class="item-3">
                          <span> الموضوع</span>
                          <h5>فتح المظاريف</h5>
                      </div>
                      <div class="item-4">
                          <span> الادارة المعنية</span>
                          <h5>الادارة الخاصة بادارة المشاريع</h5>
                      </div>
                      <div class="item-5 d-flex align-items-center justify-content-center g-1">
                          <div class="box-1 w-50">
                              <span>تاريخ البدء</span>
                              <h5>15/10/90</h5>
                          </div>
                          <div class="box-2 w-50">
                              <span> تاريخ الانتهاء</span>
                              <h5 class="text-danger fw-bold"> 15/5/74</h5>
                          </div>
                      </div>
                      <div class="item-6 d-flex align-items-center justify-content-center g-1">
                          <div class="box-1 w-50">
                              <span> تصنيف اللجنة</span>
                              <h5>داخلية</h5>
                          </div>
                          <div class="box-2 w-50">
                              <span> نوع اللجنة</span>
                              <h5>دائمة</h5>
                          </div>
                      </div>
                      <div class="item-7 d-flex align-items-center justify-content-center g-1">
                          <div class="box-1 w-50">
                              <span> اهمية اللجنة</span>
                              <h5 class="text-info fw-bold">سرية</h5>
                          </div>
                          <div class="box-2 w-50">
                              <span>دورة الاجتماعات</span>
                              <h5 class="fw-bold">اسبوعي</h5>
                          </div>
                      </div>
                      <div class="item-8  d-flex align-items-center justify-content-between">
                         
                          <div class="icons ">
                              <span>الاعضاء</span>
                              <div class="mems pe-2">
                                  <img class="rounded-circle ms-1" src="./assets/realtor-1.jpeg"  alt="">
                                  <img class="rounded-circle ms-1" src="./assets/realtor-1.jpeg"  alt="">
                                  <img class="rounded-circle ms-1" src="./assets/realtor-1.jpeg"  alt="">
                                  <img class="rounded-circle ms-1" src="./assets/realtor-1.jpeg"  alt="">
                                  <img class="rounded-circle ms-1" src="./assets/realtor-1.jpeg"  alt="">
                                  <span>+15</span>
                              </div>
                          </div>
                          <span><a routerLink="/comite-members">عرض كل الاعضاء</a></span>
                      </div>
                  </div>
              </div>
              <!-- معلومات اللجنة -->
              <div class="col-md-4 col-sm">
                  <!-- الغرض من اللجنة -->
                  <div class="row">
                      <div class="col-md col-sm">
                          <div class="purpose shadow">
                              <div class="title p-2 pe-3 d-flex align-items-center justify-content-between">
                                  <div class="">
                                      <img src="./assets/bell-2.svg" alt="">
                                      <span>الغرض من اللجنة</span>
                                 </div>
                                 <img src="./assets/edit.svg" alt="">
                                  
                              </div>
                              <div class="box-body text-center mx-auto py-3 w-75">
                                 <img src="./assets/img-2.png" class="w-100 border-0" alt="">
                                  <button class="py-2 px-5 btn mt-2 rounded-1 ms-auto">
                                      <a>اضافة</a>
                                  </button>
                               </div>      
                          </div>
                      </div>
                  </div>
                  <!-- اشعارات اللجنة -->
                  <div class="row">
                      <div class="col-md col-sm">
                          <div class="notification shadow pt-5">
                              <div class="title p-2 pe-3 d-flex align-items-center justify-content-between">
                                  <div class="">
                                      <img src="./assets/bell-2.svg" alt="">
                                      <span>اشعارات اللجنة</span>
                                 </div>
                                 <img src="./assets/edit.svg" alt="">
                                  
                              </div>
                            
                              <div class="box d-flex px-2 align-items-baseline justify-content-between">
                                  <div class="d-flex px-2 align-items-baseline justify-content-between">
                                       <img class="rounded-circle mt-2" src="./assets/realtor-1.jpeg"  alt="">
                                      <div class="msg">
                                          <h6>يوجد مهمة جديدة لك في مشروع فتح المظاريف</h6>
                                          <span>منذ 3 دقائق</span>
                                      </div>
                                  </div>
                                 
                                  <div class="icon ">
                                      <img src="./assets/notification-1.svg" alt="">
                                  </div>
                              </div>
                              <div class="box d-flex px-2 align-items-baseline justify-content-between">
                                  <div class="d-flex px-2 align-items-baseline justify-content-between">
                                       <img class="rounded-circle mt-2" src="./assets/realtor-1.jpeg"  alt="">
                                      <div class="msg">
                                          <h6>يوجد رساله جديدة لك في المحاثات</h6>
                                          <span>منذ 3 دقائق</span>
                                      </div>
                                  </div>
                                 
                                  <div class="icon ">
                                      <img src="./assets/notification-2.svg" alt="">
                                  </div>
                              </div>
                              <div class="box d-flex px-2 align-items-baseline justify-content-between">
                                  <div class="d-flex px-2 align-items-baseline justify-content-between">
                                       <img class="rounded-circle mt-2" src="./assets/realtor-1.jpeg"  alt="">
                                      <div class="msg">
                                          <h6>تم إضافة مشروع جديد من قبل الفريق الخاص بك</h6>
                                          <span>منذ 3 دقائق</span>
                                      </div>
                                  </div>
                                 
                                  <div class="icon ">
                                      <img src="./assets/notification-3.svg" alt="">
                                  </div>
                              </div>
                              <div class="box d-flex px-2 align-items-baseline justify-content-between">
                                  <div class="d-flex px-2 align-items-baseline justify-content-between">
                                       <img class="rounded-circle " src="./assets/realtor-1.jpeg"  alt="">
                                      <div class="msg mt-2">
                                          <h6>مهمة جديدة في مشروع الحدود القطرية</h6>
                                          <span>منذ 3 دقائق</span>
                                      </div>
                                  </div>
                                 
                                  <div class="icon ">
                                      <img src="./assets/notification-4.svg" alt="">
                                  </div>
                              </div>
  
                              <div class="box d-flex px-2 align-items-baseline justify-content-between">
                                  <div class="d-flex px-2 align-items-baseline justify-content-between">
                                       <img class="rounded-circle " src="./assets/realtor-1.jpeg"  alt="">
                                      <div class="msg mt-2">
                                          <h6>تم إضافة مشروع جديد من قبل الفريق الخاص بك</h6>
                                          <span>منذ 3 دقائق</span>
                                      </div>
                                  </div>
                                 
                                  <div class="icon ">
                                      <img src="./assets/notification-5.svg" alt="">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- التعليقات -->
              <div class="col-md-4 col-sm">
                 
<div class="comments ">
    <h6 class="p-2">التعليقات</h6>
    <div class="p-2">

    
        <div class="comment p-2 bg-light rounded">
            <div class="d-flex align-items-center justify-content-around">
                <div class="info d-flex">
                    <div class="img">
                        <img class="rounded-circle mt-2" src="./assets/realtor-1.jpeg"  alt="">
                    </div>
                    <h6 class="px-1 mt-2">محمد الراجحي</h6>
                </div>
                <div class="date-time">
                    <span>13/9/2023 - 5:35 ص</span>
                </div>
            </div>
            
            <div class="text">
                <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</p>
            </div>
            <div class="action bg-white">
                <span>الرد</span>
                <span class="me-3">اعجبني</span>
            </div>
        </div>

        <div class="comment p-2 mt-2 bg-light rounded">
            <div class="d-flex align-items-center justify-content-around">
                <div class="info d-flex">
                    <div class="img">
                        <img class="rounded-circle mt-2" src="./assets/realtor-1.jpeg"  alt="">
                    </div>
                    <h6 class="px-1 mt-2">محمد مصطفى</h6>
                </div>
                <div class="date-time">
                    <span>13/9/2023 - 5:35 ص</span>
                </div>
            </div>
            
            <div class="text">
                <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</p>
            </div>
            <div class="action mb-1">
                <span>الرد</span>
                <span class="me-3">اعجبني</span>
            </div>
            <div class="comment p-2 mb-1 bg-white rounded">
                <div class="d-flex align-items-center justify-content-around">
                    <div class="info d-flex">
                        <div class="img">
                            <img class="rounded-circle mt-2" src="./assets/realtor-1.jpeg"  alt="">
                        </div>
                        <h6 class="px-1 mt-2">ياسين محمد</h6>
                    </div>
                    <div class="date-time">
                        <span>13/9/2023 - 5:35 ص</span>
                    </div>
                </div>
                
                <div class="text">
                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</p>
                </div>
                <div class="action bg-white">
                    <span>الرد</span>
                    <span class="me-3 text-info">اعجبني<span class="text-info ">(5)</span></span>
                </div>
            </div>
            <div class="comment p-2 mb-1 bg-white rounded">
                <div class="d-flex align-items-center justify-content-around">
                    <div class="info d-flex">
                        <div class="img">
                            <img class="rounded-circle mt-2" src="./assets/realtor-1.jpeg"  alt="">
                        </div>
                        <h6 class="px-1 mt-2">عبد الله بن احمد</h6>
                    </div>
                    <div class="date-time">
                        <span>13/9/2023 - 5:35 ص</span>
                    </div>
                </div>
                
                <div class="text">
                    <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة</p>
                </div>
                <div class="action bg-white">
                    <span>الرد</span>
                    <span class="me-3 text-info">اعجبني<span class="text-info ">(5)</span></span>
                
                </div>
            </div>
        </div>
    </div>

    <div class="send-comment w-100  py-2 d-flex align-items-center justify-content-around">
        <input type="text" placeholder="اكتب تعليقك...." class="border-0">
        <div class="icons">
            <img src="./assets/comment-1.svg" class="me-2">
            <img src="./assets/comment-2.svg" class="me-2">
            <img src="./assets/comment-3.svg" class="me-2">
        </div>
        <div class="send mt-1 bg-info d-flex align-items-center justify-content-center">
            <a href="">
                <img src="./assets/comment-4.svg" alt="send" class="me-1 border-0">
            </a>
            
        </div>
    </div>

</div>

              </div>
          </div>
      </div>
  </section>
  
  
  
  
  
  
