$dark-blue:#162936;
$blue-color: #091135;
$purpul-color:#5620D2;
$light-blue:#377BFF;
$grey-color: #666D80;
$mingreen-color:#5AC37F;
$yellow-color:#E89B07;
$bink-color:#FF5D5D;
$white-color:#fff;
$black-color:#000;
$text-grey: #D9D9D9;
// $bground-color:#F6FBFF;