<!-- <p>search works!</p> -->
<section class="search-result pe-5">
      <div class="container">
          <div class="search-header d-flex align-items-center justify-content-between">
              <div class="title  text-end">
                  <h3 class=" pt-3 ">
                      اللجان
                  </h3>
                  <h6  class="  "> مرحبا مرة اخري <span>اسم العضو</span></h6>
              </div>
              <div class="search  d-flex align-items-center justify-content-between">
                  <form action="" class="py-2 px-3 d-flex align-items-center justify-content-between">
                      <button>
                          <i>aa</i>
                      </button>
                      <input type="text" name="" placeholder="لجنة فتح المظاريف">
                      <button>
                          <i>aa</i>
                      </button>
                      <button>
                          <i>aa</i>
                      </button>
                  </form>
                  <button class="py-2 px-3 btn me-2">
                      <a class="text-decoration-none " routerLink="/form">اضافة لجنة جديدة+</a>
                  </button>
                  
              </div>
  
  
              
             
          </div>
  
          <div class="search-info text-center py-5">
              <div class="img ">
               <img src="./assets/search.png" alt="">
                      
              </div>
              <div class="title">
                  <h3 class=" pt-3 ">
                      لا يوجد نتائج بحث
                  </h3>
                  <h6  class=" pt-2 ">لم نجد نتائج بحسب الاسم الذي تبحث عنه</h6>
              </div>
              <button class="py-2 px-5 mt-5 button-2 me-2">
                  <a class="text-decoration-none " routerLink="/committee">عرض كل اللجان</a>
              </button>
          </div>
      </div>
    
  </section>
  
